.container_Home_Info{
  background-color:	rgb(139,69,19)
}
.col-s{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_tab{
  display:flex;
  justify-content: center;
}
.tab{
  display: flex;
  justify-content: center; /* Align tabs horizontally at the center */
  margin-bottom: 20px;
}